<div class="row">
  <div class="medium-5 columns">
    <h3><%= @song %></h3>
    <hr>
    <%= simple_format @song.lyric %>
  </div>
  <div class="medium-7 columns">
    <h3>Comments</h3>
    <hr>
  </div>
  
</div>
